<div class="header-wrapper">
  <div class="logo-wrapper">
    <div class="logo"></div>
  </div>

  <div class="search-bar-wrapper">
    <input
      class="search-bar"
      [(ngModel)]="queryString"
      (ngModelChange)="searchForUsers()"
    />
  </div>

  <div class="header-menu-wrapper">
    <button class="icon-button" (click)="navigateToUserProfile()">
      <svg-icon src="assets/user-profile-icon.svg" alt="User Profile" />
    </button>

    <button class="icon-button" (click)="navigateToPosts()">
      <svg-icon src="assets/posts-icon.svg" alt="Posts"></svg-icon>
    </button>

    <button class="icon-button" (click)="navigateToMenuBook()">
      <svg-icon src="assets/menu-book-icon.svg" alt="Menu book"></svg-icon>
    </button>

    <button class="icon-button" (click)="navigateToMarket()">
      <svg-icon src="assets/shop-icon.svg" alt="Market"></svg-icon>
    </button>

    <button class="icon-button" (click)="navigateToFarmers()">
      <svg-icon src="assets/farm-tractor-icon.svg" alt="Farmers" />
    </button>

    <button class="icon-button" (click)="navigateToSettings()">
      <svg-icon src="assets/user-settings-icon.svg" alt="Settings" />
    </button>

    <button class="logout-button" (click)="logout()">
      <svg-icon class="logout-icon" src="assets/logout-icon.svg" alt="Logout" />
    </button>
  </div>
</div>

<div *ngIf="searchedUsers.length > 0" class="searched-users-list">
  <div *ngFor="let user of searchedUsers" class="searched-user-card">
    <p>{{ user.name }}</p>
    <p>{{ user.surname }}</p>
    <button *ngIf="!isFriend(user.id)" (click)="addToFriends(user.id)">
      Add to friends
    </button>
    <button *ngIf="isFriend(user.id)" (click)="deleteFriend(user.id)">
      Delete from friends
    </button>
  </div>
  <button *ngIf="!noMoreUsersToSearch" (click)="searchMoreUsers()">
    Load more
  </button>
</div>
