<div class="header-wrapper">
  <div class="logo-wrapper">
    <div class="logo">
      <img src="assets/logo.png" />
    </div>
  </div>

  <div class="search-bar-wrapper">
    <div class="custom-input">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="svg_icon bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        ></path>
      </svg>
      <input
        class="input"
        type="text"
        placeholder="Find your friends"
        (focus)="onFocus()" 
        (blur)="onBlur()"
        [(ngModel)]="queryString"
        (ngModelChange)="searchForUsers()"
      />
    </div>
  </div>

  <div class="header-menu-wrapper">
    <ng-container *ngFor="let iconButton of iconButtons">
      <button
        [class]="
          (iconButton.plugin | routePipe : selectedPlugin)
            ? 'selected-icon-button'
            : 'icon-button'
        "
        (click)="navigateToSomething(iconButton.plugin)"
      >
        <svg-icon [src]="iconButton.svg" [attr.alt]="iconButton.alt" />
      </button>
    </ng-container>

    <button class="logout-button" (click)="logout()">
      <svg-icon class="logout-icon" src="assets/logout-icon.svg" alt="Logout" />
    </button>
  </div>
</div>

<div *ngIf="searchedUsers.length > 0" class="searched-users-list">
  <div *ngFor="let user of searchedUsers" class="searched-user-card">
    <p>{{ user.name }}</p>
    <p>{{ user.surname }}</p>
    <button *ngIf="!isFriend(user.id)" (click)="addToFriends(user.id)">
      Add to friends
    </button>
    <button *ngIf="isFriend(user.id)" (click)="deleteFriend(user.id)">
      Delete from friends
    </button>
  </div>
  <button *ngIf="!noMoreUsersToSearch" (click)="searchMoreUsers()">
    Load more
  </button>
</div>
