.header-wrapper {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Distributes space between items */

  background-color: rgb(41, 150, 94);
  width: 100%;
  height: 50px;
}

.logo-wrapper {
  background-color: blue;
  min-width: 300px;
  height: 100%;

  .logo {
    background-color: blue;
    width: 100px;
    height: 100%;
  }
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;

  .search-bar {
    height: 30px;
    width: 100%;
  }
}

.header-menu-wrapper {
  .logout-button {
    background-color: rgb(41, 150, 94);
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease;
  }

  .logout-button svg-icon {
    width: 24px;
    height: 24px;
    fill: #ffff;
    transition: filter 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
  }

  .logout-button:hover svg-icon {
    fill: red;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  .icon-button {
    background-color: rgb(41, 150, 94);
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease;
  }

  .icon-button svg-icon {
    width: 24px;
    height: 24px;
    fill: #ffff;
    transition: filter 0.3s ease-in-out;
  }

  .icon-button:hover svg-icon {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

.searched-users-list {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 60%; 
  max-width: 600px; 
  background-color: #f0f0f0; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.searched-user-card {
  width: 100%; 
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center; 
}
