<ng-container
  *ngIf="{
    authState: authState$ | async,
    userPostsState: userPostsState$ | async
  } as viewData"
>
  <div class="user-profile-wrapper">
    <div class="user-profile-picture-wrapper">
      <div class="user-profile-picture-container">
        <img
          class="user-profile-picture"
          src="{{
            viewData.authState?.data?.pictureData ?? defaultProfilePicturePath
          }}"
        />
      </div>
    </div>

    <div class="user-data-wrapper">
      <div class="user-data">
        {{ viewData?.authState?.data?.name }}
        {{ viewData?.authState?.data?.surname }}
      </div>
    </div>

    <div class="user-profile-actions-wrapper">
      <button class="icon-button">
        <img src="assets/analytics-icon.svg" />
        Analytics
      </button>
      <button class="icon-button" (click)="toggleSettingsModal()">
        <img src="assets/user-settings-icon.svg" />
        Settings
      </button>
    </div>

    <div class="user-profile-posts-list">
      <ng-container *ngIf="viewData?.userPostsState?.loading; else content">
        <div class="spinner-container">
          <dd-requesting-spinner
            [isLoading]="
              viewData.userPostsState?.loading || viewData.authState?.loading
            "
          />
        </div>
      </ng-container>
      <ng-template #content>
        <ng-container *ngFor="let post of viewData?.userPostsState?.data">
          <app-post
            [post]="post"
            [isCommentsOpen]="post?.id === commentsOpenPostId"
            [isProfilePost]="true"
            (newComment)="onNewComment($event)"
            (editComment)="onEditComment($event)"
            (deleteComment)="onDeleteComment($event)"
            (postCommentsOpen)="onPostCommentsOpen($event)"
            (postCommentsClose)="onPostCommentsClose()"
          ></app-post>
        </ng-container>
      </ng-template>
    </div>
  </div>

  <dd-modal
    [isVisible]="isSettingsModalVisible"
    [withHeader]="true"
    [headerText]="'Settings'"
    (toggleModal)="toggleSettingsModal()"
  >
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    <div class="new-profile-picture-wrapper" *ngIf="profilePicture">
      <img [src]="profilePicture" alt="Uploaded Picture" />
    </div>

    <button (click)="addUserPicture()">Submit</button>
  </dd-modal>
</ng-container>
