<div class="modal-overlay" *ngIf="isOpen && formGroup && commentsList">
  <div class="modal">
    <button class="close-button" (click)="onCloseModal()">×</button>
    <div class="modal-header">
      <h2>{{ "Comments" }}</h2>
    </div>
    <div class="modal-body">
      <div class="comments-container">
        <div *ngFor="let comment of commentsList">
          <app-comment-tile
            [data]="comment"
            [isContextMenuOpen]="commentContextMenuOpen === comment.id"
            (contextMenuToggler)="onContextMenuToggle($event)"
            (editComment)="onEditComment($event)"
            (deleteComment)="onDeleteComment($event)"
          ></app-comment-tile>
        </div>
      </div>
    </div>

    <form class="modal-footer" [formGroup]="formGroup">
      <input class="comment-input" formControlName="commentText" />
      <button
        class="submit-modal-button"
        (click)="onNewComment($event)"
        [disabled]="!formGroup.valid"
      >
        Comment
      </button>
    </form>
  </div>
</div>
