<div class="post-content-wrapper">
  <div class="action-buttons-wrapper">
    <button class="toggle-edit-button" (click)="toggleEditMode()">Edit</button>
    <button class="delete-button" (click)="deleteFromMenuBook()">Delete</button>
  </div>
  <div class="post-content-header">
    <div class="post-content-title">{{ post?.title }}</div>
    <div class="post-content-creation-date">
      {{ "Created: " + creationDate }}
    </div>
    <div class="post-content-owner">
      {{ "by: " + post?.ownerName + " " + post?.ownerSurname }}
    </div>
  </div>
  <div class="post-content-portion-quantity">
    Portion for {{ post?.portionQuantity }}
    {{ post?.portionQuantity != 1 ? "persons" : "person" }}
  </div>
  <div class="post-content-ingredients">
    <h2>Ingredients:</h2>
    <pre>{{ post?.ingredients }}</pre>
  </div>
  <div class="post-content-preparation">
    <h2>Preparation:</h2>
    <pre>{{ post?.preparation }}</pre>
  </div>
  <div class="post-content-pictures">
    <app-dd-pictures-grid [images]="images" />
  </div>
</div>
