.post-content-wrapper {
padding: 20px 10px 10px 10px;
  font-size: 18px;
}

.post-content-header {
}

.post-content-title {
    font-size: 2em;
    font-weight: 700;
}

.post-content-creation-date {
    font-size: 16px;
    color: rgba(71, 71, 71, 0.588);
}

.post-content-owner {
    font-size: 16px;
    color: rgba(71, 71, 71, 0.588);

}

.post-content-portion-quantity {
    margin-top: 10px;
}

.post-content-ingredients {
}

.post-content-ingredients {
}
