.dd-input-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin-top: 10px;
}

.dd-custom-input {
  height: 30px;
}

.dd-custom-number-input-wrapper {
  display: flex;
  align-items: center;
  height: 18px;
  width: 50px;
}

.dd-custom-number-input {
  height: 18px;
  width: 50px;
}

.dd-custom-textarea {
  resize: vertical;
  overflow: auto;
}

.dd-custom-resizable-textarea {
  resize: vertical;
  overflow: hidden;
  height: auto;
}

.default {
}

.bold {
  color: black;
  font-weight: bold;
}

.big-green-radius-border {
  font-size: 18px;
  border: 2px solid green;
  border-radius: 5px;
  height: 40px;
}

.big-green-radius-border-textarea {
  border: 2px solid green;
  border-radius: 5px;
  height: 150px;
}

.green-border-numeric {
  border: 2px solid green;
  border-radius: 5px;
}