<div class="post-wrapper">
  <div class="post-header">
    <p>{{ post?.ownerName }} {{ post?.ownerSurname }}</p>
    <p>{{ creationDate }}</p>
  </div>
  <div class="post-content">
    <div *ngIf="isProfilePost" class="action-buttons-wrapper">
      <dd-button [ddClass]="'default'" (click)="toggleEditPostModal()"
        >Edit</dd-button
      >
      <dd-button [ddClass]="'danger'" (click)="toggleDeletePostModal()"
        >Delete</dd-button
      >
    </div>

    <h1>{{ post?.title }}</h1>
    <p>
      Portion for {{ post?.portionQuantity }}
      {{ post?.portionQuantity != 1 ? "persons" : "person" }}
    </p>
    <h2>Ingredients:</h2>
    <p>{{ post?.ingredients }}</p>
    <h2>Preparation:</h2>
    <p>{{ post?.preparation }}</p>
    <app-dd-pictures-grid [images]="post?.picturePathList" />
  </div>

  <div class="post-footer">
    <button
      class="icon-like-button"
      [style.fill]="post?.liked ? 'blue' : 'black'"
      (click)="onToggleLike(post?.id)"
    >
      {{ post?.likesCount }}
      <svg-icon src="assets/thumb-up-icon.svg" alt="Like"></svg-icon>
    </button>
    <button class="icon-comment-button" (click)="onOpenCommentsModal()">
      {{ post?.commentsCount }}
      <svg-icon src="assets/comment-icon.svg" alt="Comment"></svg-icon>
    </button>
    <button
      class="icon-add-button"
      [style.fill]="post?.isInMenuBook ? 'blue' : 'black'"
      [style.visibility]="isProfilePost ? 'hidden' : 'visible'"
      (click)="onAddToMenuBook()"
    >
      <svg-icon src="assets/add-to-menu-icon.svg" alt="Add"></svg-icon>
    </button>
  </div>
</div>

<comments-modal
  [isOpen]="isCommentsOpen"
  [commentsList]="post?.commentsList"
  (close)="onCloseCommentsModal()"
  (newComment)="onNewComment($event)"
  (editComment)="onEditComment($event)"
  (deleteComment)="onDeleteComment($event)"
></comments-modal>

<dd-modal
  [isVisible]="isDeletePostModalOpen"
  [withHeader]="true"
  [headerText]="'Are you sure?'"
  (toggleModal)="toggleDeletePostModal()"
>
  <dd-input
    [title]="'Provide title of the post'"
    [(inputValue)]="deletePostTitle"
  />
  <dd-modal-footer>
    <dd-button [ddClass]="'danger mg-top'" (click)="onDeletePost()"
      >Delete</dd-button
    >
  </dd-modal-footer>
</dd-modal>

<dd-modal
  [isVisible]="isEditPostModalOpen"
  [withHeader]="true"
  [headerText]="'Edit post'"
  (toggleModal)="toggleEditPostModal()"
>
  <dd-input [title]="'Title'" [(inputValue)]="editPostTitle" />
  <dd-input
    [title]="'Ingredients'"
    [type]="'textarea'"
    [(inputValue)]="editPostIngredients"
  />
  <dd-input
    [title]="'Preparation'"
    [type]="'textarea'"
    [(inputValue)]="editPostPreparation"
  />
  <dd-input
    [title]="'Portion quantity'"
    [type]="'number'"
    type="number"
    min="1"
    max="100"
    [(inputValue)]="editPostPortionQuantity"
  />

  <dd-modal-footer [ddClass]="'space-between'">
    <dd-button [ddClass]="'primary mg-top'" (click)="onEditSubmit()"
      >Submit</dd-button
    >
    <dd-button [ddClass]="'danger mg-top'" (click)="toggleEditPostModal()"
      >Cancel</dd-button
    >
  </dd-modal-footer>
</dd-modal>
