<div class="post-wrapper">
  <div class="post-header">
    <p>name surname</p>
  </div>
  <div class="post-content"></div>
  <div class="post-footer">
    <button class="icon-like-button">
      44
      <svg-icon src="assets/thumb-up-icon.svg" alt="Like"></svg-icon>
    </button>
    <button class="icon-comment-button">
      44
      <svg-icon src="assets/comment-icon.svg" alt="Comment"></svg-icon>
    </button>
    <button class="icon-add-button">
      <svg-icon src="assets/add-to-menu-icon.svg" alt="Add"></svg-icon>
    </button>
  </div>
</div>
