<div class="post-wrapper">
  <div class="post-header">
    <p>{{ post?.ownerName }} {{ post?.ownerSurname }}</p>
    <p>{{ creationDate }}</p>
  </div>
  <div class="post-content">
    <h1>{{ post?.title }}</h1>
    <p>
      Portion for {{ post?.portionQuantity }}
      {{ post?.portionQuantity != 1 ? "persons" : "person" }}
    </p>
    <h2>Ingredients:</h2>
    <p>{{ post?.ingredients }}</p>
    <h2>Preparation:</h2>
    <p>{{ post?.preparation }}</p>
    <app-dd-pictures-grid
      [images]="urlImages"
      [itemsCount]="itemsLoadingSquareCount"
    />
  </div>

  <div class="post-footer">
    <button class="icon-like-button">
      44
      <svg-icon src="assets/thumb-up-icon.svg" alt="Like"></svg-icon>
    </button>
    <button class="icon-comment-button">
      44
      <svg-icon src="assets/comment-icon.svg" alt="Comment"></svg-icon>
    </button>
    <button class="icon-add-button">
      <svg-icon src="assets/add-to-menu-icon.svg" alt="Add"></svg-icon>
    </button>
  </div>
</div>
