<ng-container
  *ngIf="{
    menuBookPostState: menuBookPostState$ | async,
    selectedPostData: selectedPostData$ | async,
    selectedPostId: selectedPostId$ | async,
    images: images$ | async
  } as viewData"
>
  <ng-container *ngIf="viewData?.menuBookPostState?.loading; else content">
    LOADING - TEMPLATE ADD A LOADER COMPONENT
  </ng-container>

  <ng-template #content>
    <div class="menu-book-wrapper">
      <div class="post-list-wrapper">
        <ng-container *ngFor="let post of viewData?.menuBookPostState?.data">
          <app-post-card
            [post]="post"
            [isSelected]="viewData?.selectedPostId === post.id"
            (postSelected)="onPostSelected(post.id)"
          />
        </ng-container>
      </div>
      <div class="post-content-wrapper">
        <ng-container *ngIf="viewData?.selectedPostId">
          <app-post-content
            [post]="viewData?.selectedPostData"
            [images]="viewData?.images"
          />
        </ng-container>
      </div>
    </div>
  </ng-template>
</ng-container>
