.menu-book-wrapper {
  background-color: #d47474;

  display: flex;
  height: calc(100% - 50px);
  width: 100%;
}

.post-list-wrapper {
  background-color: #54c66d;
}

.post-content-wrapper {
  background-color: #6d4b9a;
}
