.post-content-wrapper {
  display: flex;
  height: 800px;
  overflow-y: auto;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
  font-size: 18px;
}

.post-content-header {
}

.post-content-title {
  font-size: 2em;
  font-weight: 700;
}

.post-content-creation-date {
  font-size: 16px;
  color: rgba(71, 71, 71, 0.588);
}

.post-content-owner {
  font-size: 16px;
  color: rgba(71, 71, 71, 0.588);
}

.post-content-portion-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post-content-ingredients {
  margin-top: 10px;
}

.post-content-preparation {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.action-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.delete-button,
.toggle-edit-button,
.submit-edit-button {
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* slightly rounded borders */
  transition: background-color 0.3s ease; /* smooth transition for hover effect */
}

.toggle-edit-button {
  background-color: white;
  color: black;
  border: 1px solid #ddd; /* Light grey border for better visibility */
  margin-right: 10px;

  &:hover {
    background-color: #f0f0f0;
  }
}

.submit-edit-button {
  background-color: green;

  &:hover {
    background-color: darkgreen;
  }
}
