.posts-outside-wrapper {
  // display: block;
  // box-sizing: border-box;
  // height: 100%;
  // padding: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    height: calc(100% - 50px);
}

.posts-inside-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

.create-post-wrapper {
  display: block;
  box-sizing: border-box;
  height: 100px;
  padding: 0px 10px;
}

.create-post-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-bottom: solid 1px #ccc;
}

.user-picture-wrapper {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: magenta;
}

.inputs-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.create-title-input {
  width: 400px;
  height: 20px;
  margin-bottom: 5px;
  background: url(../../../../assets/add-post-icon.svg) no-repeat scroll 7px 0px;
  background-color: #fff;
  padding-left: 40px;
}

.posts-list-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 150px);
}

.posts-left-panel {
}

.posts-right-panel {
}
