<ng-container
  *ngIf="{
    postState: postState$ | async,
    authState: authState$ | async
  } as viewData"
>
  <ng-container *ngIf="viewData?.postState?.loading; else content">
    <dd-requesting-spinner
      [isLoading]="viewData.postState?.loading || viewData.authState?.loading"
    />
  </ng-container>

  <ng-template #content>
    <div class="posts-outside-wrapper">
      <div class="posts-left-panel"></div>
      <div class="posts-inside-wrapper">
        <div class="create-post-wrapper">
          <div class="create-post-content-wrapper">
            <div class="user-profile-picture-wrapper">
              <div class="user-profile-picture-container">
                <img
                  class="user-profile-picture"
                  src="{{
                    viewData.authState?.data?.picturePath ?? defaultProfilePicturePath
                  }}"
                />
              </div>
            </div>
            <div class="inputs-wrapper">
              <input class="create-title-input" [(ngModel)]="postTitle" />
              <button class="create-button" (click)="openCreatePostModal()">
                Create post
              </button>
            </div>
          </div>
        </div>
        <div class="posts-list-wrapper">
          <ng-container *ngFor="let post of viewData?.postState?.data">
            <app-post
              [post]="post"
              [isCommentsOpen]="post?.id === commentsOpenPostId"
              (toggleLike)="onToggleLike($event)"
              (addToMenuBook)="onAddToMenuBook($event)"
              (newComment)="onNewComment($event)"
              (editComment)="onEditComment($event)"
              (deleteComment)="onDeleteComment($event)"
              (postCommentsOpen)="onPostCommentsOpen($event)"
              (postCommentsClose)="onPostCommentsClose()"
            ></app-post>
          </ng-container>
        </div>
      </div>
      <div class="posts-right-panel"></div>
    </div>
    <create-post-modal></create-post-modal>
  </ng-template>
</ng-container>
